<a href="https://colab.research.google.com/github/saikrishna-dataanalyst/1/blob/main/datafunctions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = pd.read_csv('/content/retail_sales_dataset.csv')
data.head()

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    1000 non-null   int64
 1   Date              1000 non-null   object
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price per Unit    1000 non-null   int64
 8   Total Amount      1000 non-null   int64
dtypes: int64(5), object(4)
memory usage: 70.4+ KB

In [ ]:
data.columns

Index(['Transaction ID', 'Date', 'Customer ID', 'Gender', 'Age',
       'Product Category', 'Quantity', 'Price per Unit', 'Total Amount'],
      dtype='object')

In [ ]:
data.loc[1]

Transaction ID               2
Date                2023-02-27
Customer ID            CUST002
Gender                  Female
Age                         26
Product Category      Clothing
Quantity                     2
Price per Unit             500
Total Amount              1000
Name: 1, dtype: object

In [ ]:
data.iloc[2 , 2]

'CUST003'

In [ ]:
data.loc[3 ,'Date']

'2023-05-21'

In [ ]:
data.axes[0]

RangeIndex(start=0, stop=1000, step=1)

In [ ]:
data.axes[1]

Index(['Transaction ID', 'Date', 'Customer ID', 'Gender', 'Age',
       'Product Category', 'Quantity', 'Price per Unit', 'Total Amount'],
      dtype='object')

In [ ]:
 data.drop('Date' , axis = 1)

,Transaction ID,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,CUST001,Male,34,Beauty,3,50,150
1,2,CUST002,Female,26,Clothing,2,500,1000
2,3,CUST003,Male,50,Electronics,1,30,30
3,4,CUST004,Male,37,Clothing,1,500,500
4,5,CUST005,Male,30,Beauty,2,50,100
...,...,...,...,...,...,...,...,...
995,996,CUST996,Male,62,Clothing,1,50,50
996,997,CUST997,Male,52,Beauty,3,30,90
997,998,CUST998,Female,23,Beauty,4,25,100
998,999,CUST999,Female,36,Electronics,3,50,150
999,1000,CUST1000,Male,47,Electronics,4,30,120

In [ ]:
data.describe()

       Transaction ID         Age     Quantity  Price per Unit  Total Amount
count     1000.000000  1000.00000  1000.000000     1000.000000   1000.000000
mean       500.500000    41.39200     2.514000      179.890000    456.000000
std        288.819436    13.68143     1.132734      189.681356    559.997632
min          1.000000    18.00000     1.000000       25.000000     25.000000
25%        250.750000    29.00000     1.000000       30.000000     60.000000
50%        500.500000    42.00000     3.000000       50.000000    135.000000
75%        750.250000    53.00000     4.000000      300.000000    900.000000
max       1000.000000    64.00000     4.000000      500.000000   2000.000000

In [ ]:
data.groupby('Transaction ID').sum()

,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
Transaction ID,,,,,,,,
1,2023-11-24,CUST001,Male,34,Beauty,3,50,150
2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000
3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
4,2023-05-21,CUST004,Male,37,Clothing,1,500,500
5,2023-05-06,CUST005,Male,30,Beauty,2,50,100
...,...,...,...,...,...,...,...,...
996,2023-05-16,CUST996,Male,62,Clothing,1,50,50
997,2023-11-17,CUST997,Male,52,Beauty,3,30,90
998,2023-10-29,CUST998,Female,23,Beauty,4,25,100
999,2023-12-05,CUST999,Female,36,Electronics,3,50,150
1000,2023-04-12,CUST1000,Male,47,Electronics,4,30,120

In [ ]:
data.groupby('Transaction ID').count()

,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
Transaction ID,,,,,,,,
1,1,1,1,1,1,1,1,1
2,1,1,1,1,1,1,1,1
3,1,1,1,1,1,1,1,1
4,1,1,1,1,1,1,1,1
5,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...
996,1,1,1,1,1,1,1,1
997,1,1,1,1,1,1,1,1
998,1,1,1,1,1,1,1,1
999,1,1,1,1,1,1,1,1
1000,1,1,1,1,1,1,1,1

In [ ]:
data['Transaction ID'].mean()

500.5

In [ ]:
data['Transaction ID'].var()

83416.66666666667

In [ ]:
data.max()

Transaction ID             1000
Date                 2024-01-01
Customer ID             CUST999
Gender                     Male
Age                          64
Product Category    Electronics
Quantity                      4
Price per Unit              500
Total Amount               2000
dtype: object

In [ ]:
data.min()

Transaction ID               1
Date                2023-01-01
Customer ID            CUST001
Gender                  Female
Age                         18
Product Category        Beauty
Quantity                     1
Price per Unit              25
Total Amount                25
dtype: object

In [ ]:
data.index

RangeIndex(start=0, stop=1000, step=1)

In [ ]:
data.shape

(1000, 9)